body{
    margin : 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content{
    width: 60%;
    margin: auto;
}

table{
    border-collapse: collapse;
    display: none;
}

td, th{
    width: 10rem;
    padding: 1rem;
    border: 1px solid black;
}