body{
    margin : 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content{
    width: fit-content;
    margin: auto;
}

table{
    border-collapse: collapse;
}

td, th{
    padding: 1rem;
    border: 1px solid black;
}